<!DOCTYPE html>
<html>
    <head>
        <title>register</title>
    </head>
    <body>
        <h1>register</h1>
        <form action ='/register' method="POST">
            <label for ="name">name</label>
            <input type="text" id="name" name="name" required>
            <label for="year">enter year</label>
            <select id="year" name="year">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <input type="submit" value="register">
        </form>
    </body>
</html>